@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  background: #f2f2f5;
}
h1 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 130%;
}
h2 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
}
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
}
h4 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
}
h5 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
}
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
}
.home {
  background: #f2f2f5;
  height: 100vh;
}
button {
  border-radius: 8px !important ;
  border: none;
  background-color: #DE5246;
  color: white;
  padding: 14px 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  max-height: 64px;
}
.navbar-home {
  padding: auto 16px auto 16px;
  height: 80px;
  background: #f2f2f5 !important;
}

.main-title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 67px;
  line-height: 130%;
}
.subtitle-home {
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #3a3a3c;
}
input {
  border: 1px solid #dde5e9;
  border-radius: 8px;
  background: white;
  padding: 20px 32px;
  max-height: 64px;
}


.content-body{
  background: #F2F2F5;
  display: flex;
}

.edit-icon{
  color:black;
  size: 0.5rem;
  padding: 0.6rem;
}